.encryptedKey.json
node_modules
.env
coverage
coverage.json
typechain

# vscode
.vscode

#Hardhat files
cache
artifacts
.DS_Store
gas-report.txt
deployments

# Patrick
.notes.md
/test/Lock.js
/yarn.lock
/.idea/hardhat-fund-me-fcc.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLibraryMappings.xml
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
